<% unless @titles.empty? %>
  $('#titles').html('<p>You\'ve earned a title!</p><p>Check out your profile to see your new titles.</p>');
<% end %>

$('#poem-page').hide(1000);
$('#you-posted').removeClass('hidden').show(1000);
