<% unless @titles.empty? %>
  $('#titles').html('<p>You\'ve earned a title!</p>');
  <% @titles.each do |title| %>
    <%= render :partial => 'title' %>
  <% end %>
<% end %>

$('#poem-page').hide(1000);
$('#you-posted').removeClass('hidden').show(1000);