<!-- <div id="left-arrow" class="span3">
  <__|
</div>

<div id="user-select">
</div>

<div id="right-arrow" class="span3">
|__>
</div> -->
<div class = "poem-page">

  <div id = "instructions-header">
    <p id = "instruct">Click on any word in the tweet list to move it into your poem blotter</p>
  </div>

  <div class = "poem-wrapper">

    <div id = "tweets">
      <p>User with listed tweets here</p>
    </div>

    <div id = "poem-form">

      <div class = "poem">
        <!-- Words will go here -->
      </div>
      <div class = "punctuation">

      </div>

    </div>
  </div>

</div>
