<div id="left-arrow" class="span3">
  <-
</div>

<div id="user-select">
</div>

<div id="right-arrow" class="span3">
  ->
</div>

<div class="clearfix:after">
  <%= button_to "I like this one!" %>
</div>

<script>

/////////////////////////
// SOURCE USER SELECTION
/////////////////////////

var currUserIndex = 0;
var userDivs = [];
var box;

// XXX
// I have two potential iteration variables, div id or global variable, which is better?

var createUserDisplay = function(divID, user) {
  var userDisplay = $('<div></div>');
  userDisplay.append('<img src="' + user.profile_image_url + '"><br>');
  userDisplay.append('<span class="handle"><a href="http://www.twitter.com/' + user.screen_name +'">' + user.screen_name + '</a></span><br>');
  userDisplay.append(user.name + '<br>');
  userDisplay.append(user.description + '<br>');
  userDisplay.append(user.status.text);
  userDisplay.attr('id', divID);
  return userDisplay;
};

$(function() {
  box = $('#user-select');

  // get some random users
  $.ajax({
    url: '/poems/select_user',
    dataType: 'json',
    type: 'GET'
  }).done(function(data) { //handle the json response
    console.log(data);

    $(data).each(function(index, user) { userDivs.push(createUserDisplay(index, user)); });
    box.html(userDivs[currUserIndex]);
  });

  $('#left-arrow').click(scrollLeft);
  $('#right-arrow').click(scrollRight);
  $('#user-select-button').click(initiatePoemCreation);

});

var scrollLeft = function() {
  if (currUserIndex !== 0) {
    currUserIndex -= 1;
    box.html($(userDivs[currUserIndex]));
  }
};

var scrollRight = function() {
  if (currUserIndex < userDivs.length - 1) {
    currUserIndex += 1;
    box.html($(userDivs[currUserIndex]));
  }
};

var initiatePoemCreation = function() {
  var user = {
    handle: $('.handle')[0].innerText
  };

  $.ajax({
    type: 'POST',
    url: '/poems/write_poem',
    dataType: 'json',
    data: user
  }).done(function(data) {
    console.log("YAY");
    // returned data = { user: user info, tweets: array of last 30 tweets }
    // use the returned data to generate the poem creation view
    // perhaps another ajax request, this time returning html?
    console.log(data);
  });
};

/////////////////////////
// POEM CREATION
/////////////////////////


</script>