<div id="left-arrow" class="span3">
  <-
</div>

<div id="user-select">
</div>

<div id="right-arrow" class="span3">
  ->
</div>

<div class="clearfix:after">
      <%= button_to "I like this one!", "/poems/creation_panel", method: 'post' %>
</div>