<div class = "index_container">
  <div class = "left_container">
  </div>
  <div class = "right_container">
    <%= link_to "", user_omniauth_authorize_path(:twitter), class: "sprites" %>
    </div>
  </div>
</div>
<%= render 'footer' %>
