
<div class = "container">
  <h3>Eagle Lake is like LoTR</h3>
  <br>
  <!-- doesn't do well as a header -->
  <p>Some text comparison { Antic }</p>
  <p style= "font-family: 'Monda', sans-serif;">Some text comparison { Monda }</p>
  <p style = "font-family: 'Jacques Francois', serif;"> Some text comparison { Jacques Francois }</p>
  <br>
  <a href="/" style = "font-family: 'Jacques Francois', serif;">Example Link {Jacques}</a> |
  <a href="/" style = "font-family: 'Monda', sans-serif;">Example Link {Monda}</a> |
  <a href="/">Example Link {Antic}</a>

  <p><br>Cras erat purus, facilisis id purus ut, venenatis vulputate leo. Cras at lacus ante. Aliquam eleifend suscipit tellus, at pharetra velit feugiat eget. Nam eget eleifend nunc. Proin nunc justo, tempus et dictum sed, lacinia non ligula. Nunc a lectus justo. Morbi consequat enim eu mauris suscipit pharetra. Integer vitae ante nulla.</p>

  <ol style= "float: left;">
    <li>Lists</li>
    <li>With</li>
    <li>Antic</li>
  </ol>
  <ol style= "font-family: 'Monda', sans-serif; float: left;">
    <li>Lists</li>
    <li>With</li>
    <li>Monda</li>
  </ol>
  <ol style= "font-family: 'Jacques Francois', serif; float: left;">
    <li>Lists</li>
    <li>With</li>
    <li>Jacques</li>
  </ol>
</div>
