<div class = "container">
  <h1>Verse.it</h1>
  <br>
  <p>Some text comparison { Antic }</p>
  <br>
  <a href="/">Example Link {Antic}</a>

  <p><br>Cras erat purus, facilisis id purus ut, venenatis vulputate leo. Cras at lacus ante. Aliquam eleifend suscipit tellus, at pharetra velit feugiat eget. Nam eget eleifend nunc. Proin nunc justo, tempus et dictum sed, lacinia non ligula. Nunc a lectus justo. Morbi consequat enim eu mauris suscipit pharetra. Integer vitae ante nulla.</p>

  <ol style=>
    <li>Lists</li>
    <li>With</li>
    <li>Antic</li>
  </ol>
</div>

