@import url(http://fonts.googleapis.com/css?family=Great+Vibes|Wire+One);

body {
  color: #34495e;
  font-family: 'Fauna One', sans-serif;
  line-height: 1.231;
  background-image:url('bgTile.jpg');
  background-repeat:repeat;
  margin: 0;
  min-width: 1000px;
  height: 700px;
}

a.create {
  background-image: url('create-banner-sm.png');
  background-repeat: no-repeat;
  background-position: 0 -5px;
  display: block;
  z-index: 100;
  width: 200px;
  height: 105px;
  margin: auto;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity 0.25s ease-in-out 0.25s;
  -webkit-transition: opacity 0.25s ease-in-out 0s;
}

a.create:hover {
  background-position: -200px -5px;
  opacity: 0.9;
}

#username {
  float: right;
}

.hidden {
  display: none;
  visibility: hidden;
}

.poem-display {
  background-color: #fff;
  width: 40%;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  float: left;
  box-shadow: 0 0 3px rgba(17, 11, 11, 0.61);
}

#salon-poems {
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.summary {
  margin: 0 auto;
  text-align: center;
}

.intro-p {
  font-size: 1.75em;
  font-weight: strong;
}



img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a.sprites {
  background-image: url(sprites_1.png);
  z-index: 100;
  background-repeat: no-repeat;
  width: 133px;
  height: 108px;
  background-position: -134px 0;
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity 0.20s ease-in-out 0s;
  -webkit-transition: opacity 0.20s ease-in-out 0s;
}

a.sprites:hover {
  width: 133px;
  height: 108px;
  background-position: 0 0;
  opacity: 0.6;
  text-align: center;
}


/* NAVIGATION */
header {
  width: 100%;
  z-index: 99;
  height: 90px;
}

header .sticky-nav {
  position: relative;
  width: 100%;
  height: 60px;
  /* background: #46516D; */
  z-index: 50;
/*
  -webkit-box-shadow: 0 1px 1px rgba(22, 21, 21, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(31, 28, 28, 0.25);*/
}

header .sticky-nav.stuck {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

header #logo {
  color: rgb(58, 58, 116);
  float: left;
  list-style: none;
  margin: 8px 15px;
}

header #logo a {
  width: 120px;
  height: 30px;
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  display: inline-block;
  opacity: 1;
  filter: alpha(opacity=100);

  -webkit-transition: opacity 0.25s ease-in-out 0s;
     -moz-transition: opacity 0.25s ease-in-out 0s;
     -o-transition: opacity 0.25s ease-in-out 0s;
        transition: opacity 0.25s ease-in-out 0s;
}

header #logo a:hover {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

nav#menu {
  float: right;
  margin-right: 20px;
}

nav#menu #menu-nav {
  margin: 0;
  padding: 0;
}

nav#menu #menu-nav li {
  list-style: none;
  display: inline-block;
  margin-left: 50px;
}

nav#menu #menu-nav li:first-child {
  margin-left: 0;
}

nav#menu #menu-nav li a {
  color: black;
  font-size: 18px;
  font-weight: 300;
  line-height: 60px;
  display: block;
  text-transform: uppercase;
}
.btn {
  margin-top: 15px;
}
nav#menu #menu-nav li.current a,
nav#menu #menu-nav li a:hover {
  color: #FACC7B;
}

.navbar-fix {
  background: #E37341;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul#nav {
  position: absolute;
  margin-left: 400px;
}

li.navlink {
  position: relative;
  margin: 0 10px;
}

/* FOOTER */

footer {
  width: 90%;
  height: 20px;
  clear: both;
  position: relative;
  bottom: 0;
  border-top: 1px dotted rgb(177, 177, 177);
  margin: 0 auto;
}

footer a {
  color: rgb(194, 168, 64);
}

.footer-p {
  float: left;
  font-size: 14px;
}

.footer-link {
  float: right;
  padding-left: 10px;
}

#footer-nav {
  list-style-type: none;
  display: inline;
}

/* General */
.title-img {
  width: 300px;
}

.tweet-text {
  font-size: 1em;
  line-height: 1.2;
  color: #363220;
}

.tweet-time {
  font-size: .75em;
  font-style: italic;
  line-height: 1;
  color: #888;
}

.tweet {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#left-arrow {
  margin-top: 25px;
  text-align: right;
  width: 35px;
  margin-right: 10px;
}

#right-arrow {
  margin-top: 25px;
  width: 35px;
  text-align: left;
}

.user-display {
  height: 800px;
  width: 400px;
}

.user-display-hidden {
  height: 800px;
  width: 400px;
  display: none;
}

.tweet {
  background-color: rgba(203,151,61,0.1);
  border-radius: 5px;
}

.poem-text {
  font-size: 15px;
}

/* Content */

.left-container {
  height: 100%;
  width: 40%;
  float: left;
  /*background: rgb(232, 240, 255);*/
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
}

.right-container {
  height: 80%;
  width: 500px;
  float: right;
  position: relative;
  overflow: show;
  /* background: rgb(232, 240, 255); */
}

.right-container > #register {
  box-shadow: 0 0 3px rgb(117, 109, 65);
  border-radius: 15px;
  background: rgb(253, 253, 253);
  height: 90%;
  width: 80%;
  margin-top: 35px;
}

.pages-wrapper {
  width: auto;
  padding: 50px;
}

.index-container {
  position: relative;
  *zoom: 1;
  text-align: center;
  width: 90%;
  height: 75%;
  margin: 0 auto;
  padding-top: 20px;
}

#title {
  font-family: "Great Vibes", cursive;
  font-size: 100px;
  margin: 0;
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #0B3861;
}

#all-user-selection {
  width: 80%;
  height: auto;
 /* margin-top: 45px;
  margin-left: 185px;*/
  margin: 0 auto;
}

#random-users {
  width: 40%;
  float: left;
}

.arrow {
  width: 25%;
  float: left;
}

#user-search {
  text-align: center;
  width: 40%;
  float: right;
}

#poem-page {
  /*display: block;*/
  margin: 0 75px 0 75px;
  padding: 20px 10px;
  width: auto;
  height: auto;
}

.instructions-header {
  display: inline-block;
}

#instruct {
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
  color: #A47A4B;
  font-weight: bolder;
}

.poem-wrapper {
  /*Padding to center these and tweets and poem form*/
  width: auto;
  height: auto;
}

#tweets {
  float: left;
  overflow: scroll;
  width: 400px;
  min-width: 200px;
  height: 508px;
  padding: 10px 20px 20px 20px;
  border: 1px solid black;
  /*background-color: rgba(255,255,255,0.3);*/
}

.word {
  font-size: inherit;
  background-color: rgba(101,100,100,0.1);
  border-radius: 5px;
  margin: 0 1px;
  padding-left: 5px;
}

#poem-form {
  float: right;
  position: relative;
  width: 400px;
  min-width: 200px;
  height: 500px;
  padding: 0 20px 18px 20px;
  /*border: 3px dotted black;*/
  /*background-color: rgba(101,100,100,0.1);*/
}

#genius {
  /*bottom: 0;*/
  /*text-align: center;*/
  margin-left: 90px;
  margin-top: 110px;
}

.poem {
  min-height: 435px;
  background-color: rgba(101,100,100,0.1);
  border: 1px solid black;
}

.punctuation-panel {
  text-align: center;
  min-height: 40px;
  margin-top: 5px;
  /*background-color: rgba(40,50,230,0.1);*/
}

#newline {
  margin-left: 70px;
}

#clear {
  margin-top: 5px;
  margin-right: 13px;
  padding: 5px 10px;
}

#char-count {
  font-size: 20px;
}

#user-handle {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  border-bottom: 1px solid #363220;
}

#user-select {
  height: 300px;
  width: 70%;
  float: left;
  text-align: center;
  margin: 0 10px;
  padding-top: 20px;
  background-color: rgba(255,255,255, 0.4);
  box-shadow: 0px 0px 3px #BDBDBD;
  border-radius: 12px;
  margin-bottom: 40px;
}

#user-select-button {
  margin: 0 auto;
}

input,
button,
select,
textarea {
  font-family: 'Antic Slab', serif;
  font-size: 14px;
}

a {
  color: #0B3861;
  text-decoration: none;
  -webkit-transition: 0.18s;
  -moz-transition: 0.18s;
  -o-transition: 0.18s;
  transition: 0.18s;
  -webkit-backface-visibility: hidden;
  margin: 0 auto;
}

a:hover {
  color: #7AA1A7;
  text-decoration: none;
}

#you-posted {
  background-color: rgba(255,255,255, 0.4);
  box-shadow: 0px 0px 3px #BDBDBD;
  width: 600px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  height: auto;
}

h1,
.h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 50px /* 64px */;
  /*width: 400px;*/
  border-bottom: 1px dotted gray;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}
h2,
.h2 {
  font-family: 'Antic Slab', serif;
  font-size: 47px;
}
h3,
.h3 {
  font-family: 'Antic Slab', serif;
  font-size: 35px;
  border-bottom: 1px dotted;
}
h4,
.h4 {
  font-size: 28.994000000000003px /* 29px */;
}
h5,
.h5 {
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h6,
.h6 {
  font-size: 23.996px /* 24px */;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  color: #638085;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Forms */
form {
  margin: 0 0 20px;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  /* 15px */

  font-weight: 500;
}
.btn {
  border: none;
  background: #ACA69E;
  color: #ffffff;
  padding: 5px 9px 6px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.20s;
  -moz-transition: 0.20s;
  -o-transition: 0.20s;
  transition: 0.20s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #8A7C6B;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.05s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-huge {
  font-size: 21.994px;
  /* 22px */

  line-height: 22px;
  padding: 15px 20px 16px;
}
.btn.btn-large {
  font-size: 16.996px;
  /* 17px */

  line-height: 20px;
  padding: 12px 18px 13px;
}
.btn.btn-small {
  font-size: 12.992px;
  /* 13px */

  line-height: 20px;
  padding: 6px 13px 8px;
}
.btn.btn-mini {
  font-size: 25px;
  margin: 5px 2px 1px 3px;
  padding: 5px 15px;
  line-height: 0.75;
  line-height: 1.2;
}
.btn.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-embossed.active,
.btn.btn-embossed:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-wide {
  min-width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn.btn-primary {
  background-color: #04A4DF;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #0084b4;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #16a085;
}
.btn.btn-info {
  background-color: rgba(52,73,94,0.85);
  margin-bottom: 10px;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: rgba(159,130,81,0.85);
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #B79C6D;
}
.btn.btn-danger {
  background-color: #ec7063;
  float: right;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #e74c3c;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
  background-color: #c44133;
}
.btn.btn-success {
  background-color: #58d68d;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color:  #2ecc71;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-warning {
  background-color: #bdc3c7;
  opacity: 0.6;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn-group:focus .btn.btn-warning.dropdown-toggle {
  background-color: #e74c3c;
  opacity: 0.8;
}
.btn.btn-warning:active,
.btn-group.open .btn.btn-warning.dropdown-toggle,
.btn.btn-warning.active {
  background-color: #c44133;
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
  background-color: #2c3e50;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}

/* MODAL */


.modal-backdrop {
  z-index: 1040;
  background-color: #243342;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.modal {
  z-index: 1050;
  width: 624px;
  margin-left: -312px;
  background-color: #f9fafb;
  border: 2px solid #ebedef;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.35);
  box-shadow: -14px 14px 0 0 rgba(0, 0, 0, 0.35);
}
@media (max-width: 767px) {
  .modal {
    width: auto;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .modal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.modal-header {
  padding: 17px 19px 15px 24px;
  border-bottom: 1px solid #ebedef;
}
.modal-header .close {
  margin: 5px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: #34495e;
}
.modal-header h3 {
  font-size: 24px;
}
.modal-body {
  padding: 20px 24px 20px;
}
.modal-body p {
  font-size: 16.002px;
  line-height: 1.6249200000000001;
}
.modal-footer {
  padding: 19px 22px 20px;
  background-color: #ebedef;
  border-top: none;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-footer .btn + .btn {
  margin-left: 12px;
}
@media (max-width: 480px) {
  .modal-footer .btn {
    display: block;
    min-width: auto;
    margin-bottom: 15px;
  }
  .modal-footer .btn:last-child {
    margin-bottom: 0;
  }
  .modal-footer .btn + .btn {
    margin-left: 0;
  }
}

