<footer>

<p class="footer-p">Made with love by <a href="http://www.alicemottola.net">ichthala</a> and <a href="http://www.github.com/swelly">swelly</a> in August/September 2013.</p>

<ul id="footer-nav">
  <li class="footer-link"><a href="/about">About</a></li>
  <li class="footer-link"><a href="http://www.github.com/swelly/versery" target="_blank">Github</a></li>
</ul>

</footer>
