<% if current_user %>
  <li class="navlink"><%= link_to current_user.twitter_handle, profile_path(current_user.id) %></li>
  <li class="navlink"><%= link_to "Sign Out", signout_path %></li>
<% else %>
  <li class="navlink"><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
<% end %>