<header>
  <div class="sticky-nav">
    <div id="logo">
      <li id="logo"><%= link_to('Versery', '/', :class => 'brand') %></li>
    </div>

    <nav id="menu">
      <ul id="menu-nav">
        <li class = "navlink"><%= link_to('The Salon', '/poems') %></li>
        <% if current_user %>
        <li id="username", ><%= link_to("#{current_user.twitter_handle}", "/users/#{current_user.id}") %></li>
        <% end %>
        </ul>
    </nav>

    <%= link_to('', '/poems/new', :class => 'create') %>

  </div>
</header>
