<header>
  <div class="sticky-nav">
    <div id="logo">
      <li id="logo"><%= link_to('Versery', '/', :class => 'brand') %></li>
    </div>

    <nav id="menu">
      <ul id="menu-nav">
        <li class = "navlink"><%= link_to('The Salon', '/poems') %></li>
        <%= render 'login_items' %>
      </ul>
    </nav>

    <%= link_to('', '/poems/new', :class => 'create') %>

  </div>
</header>
